In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [7]:
sample_data = pd.read_csv(r'I:\Outros computadores\Meu laptop\UFRJ\2024.1\Mineração de Dados - Zimbrão\sample_submission.csv')
train_data = pd.read_csv(r'I:\Outros computadores\Meu laptop\UFRJ\2024.1\Mineração de Dados - Zimbrão\train.csv')
test_data = pd.read_csv(r'I:\Outros computadores\Meu laptop\UFRJ\2024.1\Mineração de Dados - Zimbrão\test.csv')

In [10]:
train_data.shape, test_data.shape, sample_data.shape

((20758, 18), (13840, 17), (13840, 2))

In [11]:
train_data.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,Sometimes,no,2.763573,no,0.000000,0.976473,Sometimes,Public_Transportation,Overweight_Level_II
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,Sometimes,no,1.910378,no,0.866045,1.673584,no,Public_Transportation,Insufficient_Weight
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,Sometimes,no,1.674061,no,1.467863,0.780199,Sometimes,Public_Transportation,Obesity_Type_III
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,Sometimes,no,1.979848,no,1.967973,0.931721,Sometimes,Public_Transportation,Overweight_Level_II

In [12]:
train_data.describe()

,id,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,20758.00000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000
mean,10378.50000,23.841804,1.700245,87.887768,2.445908,2.761332,2.029418,0.981747,0.616756
std,5992.46278,5.688072,0.087312,26.379443,0.533218,0.705375,0.608467,0.838302,0.602113
min,0.00000,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,5189.25000,20.000000,1.631856,66.000000,2.000000,3.000000,1.792022,0.008013,0.000000
50%,10378.50000,22.815416,1.700000,84.064875,2.393837,3.000000,2.000000,1.000000,0.573887
75%,15567.75000,26.000000,1.762887,111.600553,3.000000,3.000000,2.549617,1.587406,1.000000
max,20757.00000,61.000000,1.975663,165.057269,3.000000,4.000000,3.000000,3.000000,2.000000

In [13]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  object
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  object
 6   FAVC                            20758 non-null  object
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  object
 10  SMOKE                           20758 non-null  object
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  object
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  object
 16  MTRANS                          20758 non-null  object
 17  NObeyesdad                      20758 non-null  object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ MB

In [17]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13840 entries, 0 to 13839
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              13840 non-null  int64
 1   Gender                          13840 non-null  object
 2   Age                             13840 non-null  float64
 3   Height                          13840 non-null  float64
 4   Weight                          13840 non-null  float64
 5   family_history_with_overweight  13840 non-null  object
 6   FAVC                            13840 non-null  object
 7   FCVC                            13840 non-null  float64
 8   NCP                             13840 non-null  float64
 9   CAEC                            13840 non-null  object
 10  SMOKE                           13840 non-null  object
 11  CH2O                            13840 non-null  float64
 12  SCC                             13840 non-null  object
 13  FAF                             13840 non-null  float64
 14  TUE                             13840 non-null  float64
 15  CALC                            13840 non-null  object
 16  MTRANS                          13840 non-null  object
dtypes: float64(8), int64(1), object(8)
memory usage: 1.8+ MB

In [15]:
def rename_columns(data, names):
    data.rename(columns=names, inplace=True)
    return data

columns_names = {
    "Gender": "gender",
    "Age": "age",
    "Height": "height",
    "Weight": "weight",
    "family_history_with_overweight": "family_history",
    "FAVC": "frequency_high_caloric_food",
    "FCVC": "frequency_vegetables",
    "NCP": "main_meals",
    "CAEC": "eating_out_main_meals",
    "SMOKE": "smoking",
    "CH2O": "water_daily",
    "SCC": "calories_monitoring",
    "FAF": "physical_activity",
    "TUE": "technology_use",
    "CALC": "alcohol",
    "MTRANS": "transportation",
    "NObeyesdad": "obesity"
}

train_data = rename_columns(train_data, columns_names)

In [18]:
columns_names.pop("NObeyesdad")
test_data = rename_columns(test_data, columns_names)

In [26]:
display(train_data)

,id,gender,age,height,weight,family_history,frequency_high_caloric_food,frequency_vegetables,main_meals,eating_out_main_meals,smoking,water_daily,calories_monitoring,physical_activity,technology_use,alcohol,transportation,obesity
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,Sometimes,no,2.763573,no,0.000000,0.976473,Sometimes,Public_Transportation,Overweight_Level_II
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,Sometimes,no,1.910378,no,0.866045,1.673584,no,Public_Transportation,Insufficient_Weight
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,Sometimes,no,1.674061,no,1.467863,0.780199,Sometimes,Public_Transportation,Obesity_Type_III
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,Sometimes,no,1.979848,no,1.967973,0.931721,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20753,20753,Male,25.137087,1.766626,114.187096,yes,yes,2.919584,3.000000,Sometimes,no,2.151809,no,1.330519,0.196680,Sometimes,Public_Transportation,Obesity_Type_II
20754,20754,Male,18.000000,1.710000,50.000000,no,yes,3.000000,4.000000,Frequently,no,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
20755,20755,Male,20.101026,1.819557,105.580491,yes,yes,2.407817,3.000000,Sometimes,no,2.000000,no,1.158040,1.198439,no,Public_Transportation,Obesity_Type_II
20756,20756,Male,33.852953,1.700000,83.520113,yes,yes,2.671238,1.971472,Sometimes,no,2.144838,no,0.000000,0.973834,no,Automobile,Overweight_Level_II
20757,20757,Male,26.680376,1.816547,118.134898,yes,yes,3.000000,3.000000,Sometimes,no,2.003563,no,0.684487,0.713823,Sometimes,Public_Transportation,Obesity_Type_II

In [27]:
display(test_data)

,id,gender,age,height,weight,family_history,frequency_high_caloric_food,frequency_vegetables,main_meals,eating_out_main_meals,smoking,water_daily,calories_monitoring,physical_activity,technology_use,alcohol,transportation
0,20758,Male,26.899886,1.848294,120.644178,yes,yes,2.938616,3.000000,Sometimes,no,2.825629,no,0.855400,0.000000,Sometimes,Public_Transportation
1,20759,Female,21.000000,1.600000,66.000000,yes,yes,2.000000,1.000000,Sometimes,no,3.000000,no,1.000000,0.000000,Sometimes,Public_Transportation
2,20760,Female,26.000000,1.643355,111.600553,yes,yes,3.000000,3.000000,Sometimes,no,2.621877,no,0.000000,0.250502,Sometimes,Public_Transportation
3,20761,Male,20.979254,1.553127,103.669116,yes,yes,2.000000,2.977909,Sometimes,no,2.786417,no,0.094851,0.000000,Sometimes,Public_Transportation
4,20762,Female,26.000000,1.627396,104.835346,yes,yes,3.000000,3.000000,Sometimes,no,2.653531,no,0.000000,0.741069,Sometimes,Public_Transportation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13835,34593,Male,23.327836,1.721384,78.030383,yes,no,2.813234,3.000000,Sometimes,no,1.000000,no,0.807076,0.778632,Sometimes,Public_Transportation
13836,34594,Female,29.000000,1.590000,62.000000,no,yes,3.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation
13837,34595,Female,22.935612,1.585547,44.376637,no,yes,3.000000,2.273740,Frequently,no,2.000000,no,1.949840,1.000000,Sometimes,Public_Transportation
13838,34596,Male,21.000000,1.620000,53.000000,yes,yes,2.000000,3.000000,Sometimes,no,2.000000,no,3.000000,2.000000,no,Public_Transportation
13839,34597,Male,26.490926,1.812259,120.980508,yes,yes,2.744994,3.000000,Sometimes,no,2.205977,no,1.304291,0.630866,Sometimes,Public_Transportation

In [28]:
train_data.isnull().sum()

id                             0
gender                         0
age                            0
height                         0
weight                         0
family_history                 0
frequency_high_caloric_food    0
frequency_vegetables           0
main_meals                     0
eating_out_main_meals          0
smoking                        0
water_daily                    0
calories_monitoring            0
physical_activity              0
technology_use                 0
alcohol                        0
transportation                 0
obesity                        0
dtype: int64

In [29]:
test_data.isnull().sum()

id                             0
gender                         0
age                            0
height                         0
weight                         0
family_history                 0
frequency_high_caloric_food    0
frequency_vegetables           0
main_meals                     0
eating_out_main_meals          0
smoking                        0
water_daily                    0
calories_monitoring            0
physical_activity              0
technology_use                 0
alcohol                        0
transportation                 0
dtype: int64

# Coisas q têm q estar no relatório de Mineração de Dados

Comparação c naive Bayes

Matriz de confusão

Análise exploratória

Tem valores faltantes?